<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<style>
.buttons {
    display: flex;
    justify-content: space-between;
}
.button {
    background-color: #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    user-select: none;
}

.disabled {
    color: #666;
    cursor: default !important;
}

.main-nav {
    display: flex;
    padding-bottom: 1em;
    justify-content: space-around;
}

.main-nav > div {
    background-color: #ccc;
    padding: 8px;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

.screenshot {
    padding: 2em;
}

</style>
</head>

<body>
    <div id="app">
        <div class="main-nav">
            <div v-bind:class="{ disabled: view == 'screenshots'}" v-on:click="view = 'screenshots'">Screenshots ({{ screenshots.length }})</div>
            <div v-bind:class="{ disabled: view != 'screenshots'}" v-on:click="view = 'errors'">Errors ({{ errors.length }})</div>
        </div>
        <hr>
        <div v-if="view == 'screenshots'" id="screenshots">
            <div v-if="screenshots.length > 0">
                <div class="buttons">
                    <div class="button" v-on:click="prev" v-bind:class="{ disabled: index == 0 }">Prev</div>
                    <div class="button" v-on:click="next" v-bind:class="{ disabled: index == screenshots.length-1 }">Next</div>
                </div>
                <img class="screenshot" :src="screenshots[index].image">
                <div v-for="domain in screenshots[index].domains">
                    {{ domain }}
                </div>
            </div>
            <div v-else>
                Oops, there aren't any screenshots!
            </div>
        </div>
        <div v-else id="errors" v-for="error in errors">
            {{ error.domain }}: {{ error.msg }}
        </div>
    </div>
<script>

var screenshots = ${screenshots};
var errors = ${errors};

var app = new Vue({
    el: '#app',
    data: {
        screenshots: screenshots,
        errors: errors,
        index: 0,
        view: "screenshots"
    },
    methods: {
        prev: function (event) {
            if (app.index > 0) {
                app.index--;
            }
        },
        next: function (event) {
            if (app.index < screenshots.length - 1) {
                app.index++;
            }
        },
    }

})

window.addEventListener('keyup', function(e) {
    if (e.keyCode == 37) {
        app.prev();
    }
    else if (e.keyCode == 39) {
        app.next();
    }
});
</script>
</body>

</html>
